{%extends 'base.html'%} <!--繼承base.html模板-->
{% load markdown_deux_tags %}<!--簡化HTML-->
{% block title %} 新增部落格分類 {% endblock  %}
{%block content%}
{% if user.is_authenticated %} <!--沒登入就無法新增貼文-->
{% for message in messages%}
  <div class="alert alert-{{message.tag}}">{{message}}</div>
{% endfor %}
<h3>新增分類</h3>
    <form method="POST">{% csrf_token %}
        {{form.as_p}}
      <input class="btn btn-primary" type="submit" value="新增">
    </form>
{% else %}
<h3>不是全婆幫會員還敢在這放縱!</h3>
{% endif %}

{%endblock%}
