{% load static %}<!--存取靜態檔-->
{% include 'header.html'%}
{% include 'header2.html'%}
    <div class="container-fluid">
        <div class="row justify-content-md-center">
          <div class="col-md-2">
            <div class="card border-dark mb-3 ">
              <img src="{% static 'images/bae.jpg' %}" class="card-img-top" alt='img not work'>  
              <div class="card-body">
                  <!-- <h3 class="card-title">MENU</h3> -->
              </div>
              <div class="card-body">
                  <ul class='list-group list-group-flush' style="font-size: 20px;">  
                      <a href="/" class="list-group-item">投票區</a>
                      <a href="https://www.twitch.tv/" class="list-group-item">哈啦區</a>
                      <a href="https://wall.alphacoders.com/big.php?i=682156" class="list-group-item">會員中心</a>
                  </ul>
              </div>
            </div><!--"card"-->
            <div class="tenor-gif-embed" data-postid="21220114" data-share-method="host" data-aspect-ratio="0.821875" data-width="100%">
              <a href="https://tenor.com/view/nagatoro-ijiranaide-noodles-please-don-uzaki-gif-21220114">Nagatoro Ijiranaide GIF</a>
            </div>
          </div><!--col-md-4-->
          <div class="col-md-10">
            <div class="card">
              <div class="card-body">
                <div class="card-header">
                  {%block headmessage%} {%endblock%} <!--文章列表index.html-->
                  </div>
                  <div class="card-body">
                  {%block content%} {%endblock%}<!--文章body index.html-->
                  </div>
              </div><!--card-body-->
            </div><!--card-->
          </div><!--col-8-->
        </div><!--row-->
        <div class="row justify-content-center">
          <div class="col-sm-6 col-lg-10">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{% static '/images/cute.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{% static '/images/girl.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{% static '/images/wat1.jpg' %}" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div><!--col-sm-6 lg-12-->
        </div><!--row-->
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="card text-center">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                  <li class="nav-item">
                    <a class="nav-link active" href="/">討論區</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="shop.html">逛逛</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#">課金區</a>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <h5 class="card-title">欸，你們好，我一個人住，我的房子還滿大的，歡迎你們來我家玩，玩累了就直接睡覺，沒問題的。</h5>
                <p class="card-text">很勇嘛，身材不錯喔，滿結實的啊</p>
                <a href="#" class="btn btn-primary">去傑哥家</a>
              </div>
            </div>
          </div><!--col-10 col-lg-10-->
        </div><!--row-->
        <div class="row">
              <div class="col-sm-8 col-md-12">
                <div class="card-body">
                    <div class="card-footer text-muted">   
                    {%include 'footer.html'%} 
                    </div>
                </div>
              </div><!--col-sm-8 col-md-8-->
        </div><!--div class='row'-->
    </div><!--container-fluid-->
</body>
</html>