{%extends 'base.html'%} <!--繼承base.html模板-->
{% load markdown_deux_tags %}<!--簡化HTML-->
{% block title %}我想說....{% endblock  %}
{%block content%}
    {% for message in messages%}
        <div class="alert alert-{{message.tags}}">{{message}}</div>
    {% endfor %}
{% for post in addposts %}
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
    <img src="..." alt="...">
    </div>
        <div class="col-md-8">
            <div class="card-body">
            <h5 class="card-title">{{post.pub_name}}</h5>
            <p class="card-text">{{post.pub_title}}</p>
            <p class="card-text">{{post.pub_body}}</p>
            <p class="card-text"><small class="text-muted">{{post.pub_date}}</small></p>
            </div>
        </div>
    </div>
  </div>
</div>
{% endfor %}
{%endblock%}
