{%load static%}
<link rel="stylesheet" href="{% static 'bootstrap5/css/bootstrap.min.css' %}"> 
<script src="{% static 'bootstrap5/js/bootstrap.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript" async src="https://tenor.com/embed.js"></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light" id='navbar'>
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="{% static '/images/ghost.png' %}" style="width: 60px;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">首頁</a>
          </li>
          <li class="nav-item">
          {% if useraccount %}
            <a class="nav-link" href="/accounts/logout/">登出</a>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              liveStream
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/video/">Anime</a></li>
                <li><a class="dropdown-item" href="#">Sleep</a></li>
                <li><a class="dropdown-item" href="#">Chill</a></li>
                <li><hr class="dropdown-divider"></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/members/{{members.serialnum}}" tabindex="-1" aria-disabled="false">會員資料</a>
            </li>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/accounts/login/">登入</a>
          </li>
          {% endif %}
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>