<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to my BLOG!!!!</title>
</head>
<body>
    <h1>Welcome to my BLOG!!!!</h1>
    <hr>{%for post in posts%}
            <p style="font-family: 微軟正黑體; font-size: 14pt;font-weight: bold;"></p>
            <a href="/post/{{post.slug}}">{{post.title}}</a>
    {%endfor%}
    <hr>
    <h3>現在時刻:{{now}}</h3>
</body>
</html>