{%extends 'base.html'%} <!--繼承base.html模板-->
{% load markdown_deux_tags %}<!--簡化HTML-->
{% block title %} mysite {% endblock  %}
{%block headmessage%}
    <h3 style="font-family: 微軟正黑體;">編輯貼文</h3>
{%endblock%}
{%block content%}
{% for message in messages%}
  <div class="alert alert-{{message.tag}}">{{message}}</div>
{% endfor %}
    <form method="POST">{% csrf_token %}
        {{form.as_p}}
      <input class="btn btn-primary" type="submit" value="更新">
      <input class="btn btn-primary" type="reset" value="重填">
    </form>
{%endblock%}
    